[Unit]
Description=This service is in order to synchronize the value of vGPIO4 and PASSWORD_CLEAR_N continuously.
After=superion-init.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/sync-password-clear.sh

[Install]
WantedBy=multi-user.target

